 body{
       padding:0;
       margin:0;
       }
       .fixed-top{
         box-shadow:3px 3px 16px gray;
         border-radius:0 0 5px 5px;
         border-bottom:5px dashed lightgray;
         border-left:5px dashed lightgray;
         border-right:5px dashed lightgray;
         position:relative;
         padding-left:25%;
         background:url("topnav.jpg");
       }
       h1{
         color:#3d9970;
         vertical-align:middle;
       }
  .fixed-bottom{
       border-top:5px dashed lightgray;
       background:url("bottom.jpg");
       font-size:5px;
       }
       .jumbotron{
       border:1px #199970 solid;
       margin:15px;
       }
       iframe{
       height:2000px;
       width:100%;
       border:none;
       }
       .navbar-brand{
       color:white;
       font-weight:bold;
       }