{% extends "layout.html" %}
{% block nav %}
    HR Manager
{% endblock %}

{% block menu %}
<div class="menu">
    <input type="button" value="Employee Data" class="btn btn-link" onClick="setvisibilty('div1', 'inline', 1)">
    <input type="button" value="Add Employee" class="btn btn-link" onClick="setvisibilty('div2', 'inline', 2)">
    <input type="button" value="Fire Employee" class="btn " onClick="setvisibilty('div3', 'inline', 3)">
    <input type="button" value="Add Supplier" class="btn " onClick="setvisibilty('div4', 'inline', 4)">
    <input type="button" value="Update Salary" class="btn " onClick="setvisibilty('div5', 'inline', 5)">
  </div>
{% endblock %}

{% block main %}

<div id="div1">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>email</td>
                <td>Role</td>
                <td>Birth Date</td>
                <td>Start Date</td>
                <td>Salary</td>
            </tr>
        </thead>
        {% if users != 'None' %}
        {% for user in users %}
            <tr>
                <td>{{ user['id'] }}</td>
                <td>{{ user['name'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['type'] }}</td>
                <td>{{ user['birthdate'] }}</td>
                <td>{{ user['startdate'] }}</td>
                <td>{{ user['salary'] }}</td>
            </tr>
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="7">No Data</td>
            </tr>
        {% endif %}
    </table>
    <form method="get" action="/hr_manager">
        <input type="hidden" name="more" value="{{ session['count']}}">
        <button type="submit" class="btn btn-primary">See more</button>
    </form>
    <form method="get" action="/hr_manager">
        <input type="hidden" name="less" value="{{ session['count']}}">
        <button type="submit" class="btn btn-primary">Go Back</button>
    </form>
</div>

<div class="p-3 m-3" id="div2" style="display:none">
    <h3>Add Employee</h3>
    <form method="post" action="/hr_manager">
        <div class="mb-3">
        <input type="text" name="name" class="form-control mx-auto w-auto" placeholder="Full Name">
        </div>
        <div class="mb-3">
            <input type="email" name="email" class="form-control mx-auto w-auto" placeholder="Email">
        </div>
        <div class="mb-3">
            Birthdate:
            <input type="date" name="birthdate" class="form-control mx-auto w-auto" placeholder="Birthdate">
        </div>
        <div class="mb-3">
            <select name="type">
                <option disabled selected>Role</option>
                <option value="sales">Sales</option>
                {% if session['admin'] == 2 %}
                <option value="acc_manager">Account Manager</option>
                <option value="hr_manager">HR Manager</option>
                {% endif %}
                <option value="logistics">Logistics</option>
                <option value="pharmacy">Pharmacy</option>
            </select>
        </div>
        <div class="mb-3">
            Date of Start:
            <input type="date" name="startdate" class="form-control mx-auto w-auto">
        </div>
        <div class="mb-3">
            <input type="number" name="salary" class="form-control mx-auto w-auto" placeholder="salary">
        </div>

        <button type="submit" name="add_employee" class="btn btn-primary">ADD</button>
    </form>
</div>
    <div class="p-3 m-3" id="div3" style="display:none">
        <h3>Fire Employee</h3>
        <form action="/hr_manager" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Employee Email" type="email">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Your password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="reason" placeholder="reason" type="text">
            </div>
            <button name="fire_employee"class="btn btn-danger" type="submit">Fire</button>
        </form>
    </div>

    <div class="p-3 m-3" id="div4" style="display:none">
        <h3>Add Supplier</h3>
        <form method="post" action="/hr_manager">
            <div class="mb-3">
            <input type="text" name="company_name" class="form-control mx-auto w-auto" placeholder="Company Name">
            </div>
            <div class="mb-3">
                <input type="email" name="email" class="form-control mx-auto w-auto" placeholder="Email">
            </div>
            <div class="mb-3">
                Start date:
                <input type="date" name="startdate" class="form-control mx-auto w-auto" placeholder="Startdate">
            </div>
            <div class="mb-3">
                <input type="text" name="address" class="form-control mx-auto w-auto" placeholder="Address">
            </div>
            <div class="mb-3">
                <input type="text" name="contact_name" class="form-control mx-auto w-auto" placeholder="Contact Person Name">
            </div>

            <button type="submit" name="add_supplier" class="btn btn-primary">ADD</button>
        </form>
    </div>
    <div class="p-3 m-3" id="div5" style="display:none">
        <h3>Update Salary</h3>
        <form action="/hr_manager" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Employee Email" type="email">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Your password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="reason" placeholder="reason" type="text">
            </div>
            <div class="mb-3">
                <input type="number" name="salary" class="form-control mx-auto w-auto" placeholder="salary">
            </div>
            <button name="update_salary"class="btn btn-danger" type="submit">Update</button>
        </form>
    </div>
<div>
{% if error %}
        <p color="red" class="alert alert-danger">Error: {{ error }}</p>
{% endif %}
</div>
{% endblock %}
