{% extends "layout.html" %}

{% block nav %}
    Login
{% endblock %}

{% block main %}
    {% if error == 'admin_required' %}
    <p>Admin not Registered</p>
    {% endif%}
    <form action="/" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

    {% if error == 'name' %}
        <p class="alert alert-danger">Must provide Username</p>
    {% elif error == 'psw' %}
        <p class="alert alert-danger">Must provide Password</p>
    {% elif error == 'invalid' %}
        <p class="alert alert-danger">Invalid Username and/or Password</p>
    {% endif %}
{% endblock %}
