{% extends "layout.html" %}
{% block nav %}
    POS
{% endblock %}

{% block main %}
<div class="p-3 m-3">
    <h3>Search</h3>
    <form action="/sales" method="get">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="name" placeholder="Product Name" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="drug_name" placeholder="Drug/Item Name" type="text">
        </div>

        <button name="search"class="btn btn-primary" type="submit">Search</button>
    </form>
    {% if session['search']%}
    <form action="/sales" method="get">
        <input type="hidden" name="clear_search" value="clear_search">
        <button type="submit" class="btn btn-link">Clear Search</button>
    </form>
        <table class="table table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Product Name</td>
                <td>Drug/Item Name</td>
                <td>Description</td>
                <td>Manufacturer</td>
                <td>Price</td>
            </tr>
        </thead>
        {% for account in session['search'] %}
            <tr>
                <td>{{ account['id'] }}</td>
                <td>{{ account['product_name'] }}</td>
                <td>{{ account['drug_name'] }}</td>
                <td>{{ account['description'] }}</td>
                <td>{{ account['manufacturer'] }}</td>
                <td>{{ account['sell_price'] }}</td>
                <td>
                    <form action="/sales" method="post">
                        <input type="number" name="quantity" class="form-control mx-auto w-auto" required placeholder="Quantiity">
                        <input type="hidden" name="id" value="{{account['id']}}">
                        <input type="hidden" name="product_name" value="{{account['product_name']}}">
                        <input type="hidden" name="drug_name" value="{{account['drug_name']}}">
                        <input type="hidden" name="sell_price" value="{{account['sell_price']}}">
                        <button type="submit" name="add_item">ADD</button>
                    </form>
                </td>
            </tr>
        {% endfor %}

        </table>
    {% endif%}
</div>

{% if session['cart']%}
<button onclick="cart()" class="btn btn-warning">Open Cart</button>
<div id="cart" class="cart">

<h3>Cart</h3>
<form action="/sales" method="get">
    <input type="hidden" name="clear_cart" value="clear_cart">
    <button type="submit" class="btn btn-link">Clear Cart</button>
</form>

        <table class="table table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Product Name</td>
                <td>Drug/Item Name</td>
                <td>Price</td>
                <td>Quantity</td>
                <td></td>
                <td>Total Price</td>
            </tr>
        </thead>
        {% for account in session['cart'] %}
            <tr>
                <td>{{ account['id'] }}</td>
                <td>{{ account['product_name'] }}</td>
                <td>{{ account['drug_name'] }}</td>
                <td>{{ account['sell_price'] }}</td>
                <td>{{ account['quantity'] }}</td>
                <td>
                    <form method="post" action="/sales" class="inline">
                        <input type="hidden" name="id" value="{{account['id']}}">
                        <input type="hidden" name="quantity" value="{{account['quantity']}}">
                        <input type="hidden" name="sell_price" value="{{account['sell_price']}}">
                        <button type="submit" class="btn btn-warning" name="plus">&#43;</button>
                    </form>
                    <form method="post" action="/sales" class="inline">
                        <input type="hidden" name="id" value="{{account['id']}}">
                        <input type="hidden" name="quantity" value="{{account['quantity']}}">
                        <input type="hidden" name="sell_price" value="{{account['sell_price']}}">
                        <button type="submit" class="btn btn-danger" name="minus">&#45;</button>
                    </form>
                </td>
                <td>{{ account['total'] }}</td>
                <td>
                    <form action="/sales" method="post">
                        <input type="hidden" name="id" value="{{account['id']}}">
                        <button type="submit" class="btn btn-danger" name="remove_item">Remove</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="6">Total</td>
            <td>{{session['overall'] }}</td>
            <td>
                <form action="/sales" method="post">
                    <button type="submit" name="checkout" class="btn btn-success">Checkout</button>
                </form>
            </td>
        </tr>
        </table>
<button onclick="closecart()" class="btn btn-primary">Minimize</button>
</div>

{% endif %}
{% if error %}
    <p class="alert alert-danger">Error: Something related to {{error}}</p>
{% endif %}
{% endblock %}
