.inline{
    display: inline-block;
}
.menu {
    float: left;
    width: 20%;
    text-align: center;
    background-image: url(hi1.jpg);
    height:1000px;
    color:teal;
}

.menu .btn {
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    height: 12vh;
    color: black;
}
.main {
    float: left;
    width: 60%;
    padding: 0 20px;
    text-align: center;
    transition:all 1s;
  }

.cart {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1;
    background-color:teal;
}
