{% extends "layout.html" %}
{% block nav %}
    Admin
{% endblock %}

{% block admin %}
<a class="navbar-brand" href="/hr_manager">HR</a>
<a class="navbar-brand" href="/acc_manager">Finance</a>
<a class="navbar-brand" href="/logistics">Logistics</a>
<a class="navbar-brand" href="/sales">Sales</a>
{% endblock %}

{% block main %}

<div>
    <h3>Generate Report</h3>
    <form method="post" action="/admin">
        <div class="mb-3">
            Date of Start:
            <input type="date" class="form-control mx-auto w-auto" name="startdate" class="form-control mx-auto w-auto">
        </div>
        <div class="mb-3">
            Date of End:
            <input type="date" class="form-control mx-auto w-auto" name="enddate" class="form-control mx-auto w-auto">
        </div>
        <button name="generate_report" type="submit" class="btn btn-primary">Generate</button>
    </form>
    {% if session['dates'] %}
        <table class="table">
            <tr>
                <th>{{ session['dates'][0] }}</th>
                <th>{{ session['dates'][1] }}</th>
            </tr>
        </table>
    {% endif %}
    {% if session['total_sales'] %}
    <table class="table table-bordered">
        <tr>
            <th>Total Sales</th>
            <td>{{session['total_sales']}}</td>
        </tr>
    {% endif %}
    {% if session['profit'] %}
        <tr>
            <th>Profit</th>
            <td>{{session['profit']}}</td>
        </tr>
    </table>
    {% endif %}
    {% if session['best_seller'] %}
    <h5>Best Seller Product</h5>
    <table class="table table-bordered">
        <tr>
            <td>Product ID</td>
            <td>Product Name</td>
            <td>Quantity</td>
        </tr>
        {% for item in session['best_seller'] %}
        <tr>
            <td>{{ item['product_id'] }}</td>
            <td>{{ item['product_name'] }}</td>
            <td>{{ item['quantity'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if session['product_profit'] %}
    <h5>Profit By Product</h5>
    <table class="table table-bordered">
        <tr>
            <td>Product ID</td>
            <td>Product Name</td>
            <td>Profit</td>
        </tr>
        {% for item in session['product_profit'] %}
        <tr>
            <td>{{ item['product_id'] }}</td>
            <td>{{ item['product_name'] }}</td>
            <td>{{ item['product_profit'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if session['worst_seller'] %}
    <h5>Worst Seller Product</h5>
    <table class="table table-bordered">
        <tr>
            <td>Product ID</td>
            <td>Product Name</td>
            <td>Quantity</td>
        </tr>
        {% for item in session['worst_seller'] %}
        <tr>
            <td>{{ item['product_id'] }}</td>
            <td>{{ item['product_name'] }}</td>
            <td>{{ item['quantity'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if session['best_emp'] %}
    <h5>High Performing Employee(Sales)</h5>
    <table class="table table-bordered">
        <tr>
            <td>Employee ID</td>
            <td>Name</td>
            <td>Quantity Sold</td>
        </tr>
        {% for item in session['best_emp'] %}
        <tr>
            <td>{{ item['emp_id'] }}</td>
            <td>{{ item['emp_name'] }}</td>
            <td>{{ item['quantity'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% if error %}
    <p class="alert alert-danger">Error: {{ error }}</p>
{% endif %}
{% endblock %}
